{% extends "base.html" %}

{% block "side_bar" %}
Welcome
{% endblock %}

{% block "body" %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Позиция</th>
            <th>ЗП</th>
            <th>Найм</th>
        </tr>
    </thead>
    <tbody>
        {% for team_name, members in teams.items %}
            <tr><td colspan="2"><b>{{team_name}}</b></td> </tr>
            {% for member in members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.position }}</td>
                    <td>{{ member.salary }}</td>
                    <td>{{ member.hire_date|date:"Y-m-d" }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}

